:root {
  /* Colors */
  --primary: #6c63ff;
  --secondary: #d7d4ff;
  --light-primary: #fff;
  --light-secondary: #f9f9f9;
  --gray: #555;
  --gray-dark: #2a2a2a;
  --bg-color: #fff;

  /* Typography */
  font-size: 16px;
  --font-body: 'Lato', sans-serif; /* 400, 700 */
  --font-title: 'Merriweather', serif; /* 400, 700 */

  /* Layout */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: 0;
  border: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

/* Base */
.container {
  width: 100%;
}

/* Hero */
.hero {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 3.438rem 1.25rem;

  background-color: var(--secondary);
}

.hero__group {
  display: grid;
  gap: 1rem;

  margin-bottom: 5rem;
}

.hero__title {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 400;
  color: var(--gray-dark);
  line-height: 2.938rem;
}

.hero__text {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray);
  line-height: 2rem;
}

.hero__button {
  width: 9.688rem;
  height: 3.125rem;

  background-color: var(--primary);
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 0.313rem;

  font-family: var(--font-body);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--light-primary);

  transition: background-color 2s;
}
.hero__button:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

.hero__image {
  max-width: 21.875rem;
  max-height: 15.75rem;

  fill: none;
}

/* Content */
.content {
  position: relative;
  margin-top: 3rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;

  padding: 3.438rem 1.25rem;
}

/* Cards */
.card__container {
  width: 100%;
  height: 26.438rem;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.card__image {
  width: 100%;
  height: 14.063rem;
}

.card__title {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--gray-dark);
  line-height: 1.886rem;
  padding: 1.125rem 1.125rem 0;
}

.card__text {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--gray-dark);
  line-height: 1.886rem;
  padding: 1.125rem 1.125rem 0;
}

/* Cards Colors */
.card__image--salmon {
  background-color: #ff6363;
}

.card__image--ciano {
  background-color: #63ecff;
}

.card__image--purple {
  background-color: #f363ff;
}

.card__image--green {
  background-color: #63ff73;
}

.card__image--yellow {
  background-color: #ffdd63;
}

.card__image--indigo {
  background-color: #6663ff;
}

/* Contact */
.contact {
  width: 100%;
  height: auto;

  position: relative;
  margin-top: 3rem;

  padding: 3.438rem 1.25rem;
  background-color: var(--secondary);
}

.contact__title {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 2rem;
  color: var(--gray-dark);
  line-height: 2.5rem;
  text-align: center;
}

.contact__form {
  width: 100%;
  margin-top: 2.25rem;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  height: 3.75rem;

  margin-top: 1.25rem;

  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 0.313rem;
  border: 0;
}

.contact__form textarea {
  resize: none;
  height: 9.375rem;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray);
  line-height: 1.375rem;
}

.contact__form input[type='submit'] {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--light-primary);
  background-color: var(--primary);

  transition: background-color 2s;
}

.contact__form input[type='submit']:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .hero {
    max-height: 35rem;

    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }

  .hero__group {
    max-width: 24.375rem;
    margin-bottom: 0;
  }

  .hero__image {
    max-width: 30.375rem;
    min-width: 21.875rem;
  }

  .content {
    grid-template-columns: repeat(3, 21.25rem);
    place-content: space-around;
  }

  .contact {
    display: grid;
    place-content: center;
  }

  .contact__form {
    max-width: 29.375rem;
  }
}
