:root {
  /* Colors */
  --primary: #6c63ff;
  --secondary: #d7d4ff;
  --light-primary: #fff;
  --light-secondary: #f9f9f9;
  --gray: #555;
  --gray-dark: #2a2a2a;
  --bg-color: #fff;

  /* Typography */
  font-size: 16px;
  --font-body: 'Lato', sans-serif; /* 400, 700 */
  --font-title: 'Merriweather', serif; /* 400, 700 */

  /* Layout */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: 0;
  border: 0;
}

/* Base */
.container {
  width: 100%;
}

/* Hero */
.hero {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  padding: 3.438rem 1.25rem 5.5rem;

  background-color: var(--secondary);
}

.hero__group {
  display: grid;
  gap: 1rem;

  margin-bottom: 7.5rem;
}

.hero__title {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 400;
  color: var(--gray-dark);
  line-height: 2.938rem;
}

.hero__text {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray);
  line-height: 2rem;
}

.hero__button {
  width: 9.688rem;
  height: 3.125rem;

  background-color: var(--primary);
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 0.313rem;

  font-family: var(--font-body);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--light-primary);

  transition: background-color 2s;
}
.hero__button:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

.hero__image {
  width: 21.875rem;
  height: 15.75rem;

  fill: none;
}
